.button {
  font-weight: 400;
  font-size: 26px;
  width: 240px;
  height: 70px;
  cursor: pointer;
  background-color: #302b63;
  color: #fff;
  border-radius: 15px;
}

.button:hover {
  background-color: #0d004f;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .button {
    font-size: 18px;
  }
}
